[2019-04-11 16:09] s-hooshmand opened #1 "Reporter fails when running tests with long names"
**Describe the bug**
Operating systems has a limitation on the length of folder/file names. For example Windows poses a maximum of **260** characters. The reporter concatenates, _suite_name+test_name+browser_name+timestamp_ to create a temporary folder for screenshots. This fails the tests if a test has a long name.

**Log**
[code]

**To Reproduce**
Can be produced simply by running the flowing te

[2019-04-11 20:52] presidenten commented on #1
Nice find.
In the upcoming v1.2.2 release the filenames will be truncated.

[2019-04-11 20:52] #1 closed

[2019-04-26 03:30] Biswajeet11 opened #3 "How can I save video for every failed as well as passed test case?"
If I want to record for each test case what should be done to store all the .mp4 files for all passed as well as failed test cases.

[2019-04-26 04:59] presidenten commented on #3
In the configuration object there is a parameter called `saveAllVideos`. Just set it to `true` like so:

[code]

You can read more about the configuration options in the last three sections in the readme:
https://github.com/presidenten/wdio-video-reporter#add-the-reporter-to-config

Ps.
If you are testing on devices, make sure to update to the latest 1.2.4 release, since it adds the value of a cus

[2019-04-26 04:59] #3 closed

[2019-04-26 06:40] Biswajeet11 opened #4 "Is there any option of video reporter enabled/disabled?"
Is there any option for disabling video saving and screenshot saving?

[2019-04-26 07:06] presidenten commented on #4
No, if you add it you will use it. So remove it or comment out the configuration to disable videos.

[2019-04-26 07:06] #4 closed

[2019-05-09 06:20] aha-oretama opened #6 "Error throws when output is not defined."
**Describe the bug**
If `config.output` and `options.logFile` are not defined, throw an error.
https://github.com/presidenten/wdio-video-reporter/blob/master/src/index.js#L21

**Log**
[code]

**To Reproduce**
config -> output is not defined in wdio.conf.js.

**Expected behavior**
I think you should define default output directory.
Other report(such as Allure report) defines default directory as fo

[2019-05-09 07:00] presidenten commented on #6
Thats a good idea. Ill have a look at it in a day or so.

[2019-05-10 08:18] presidenten commented on #6
Fixed in patch release 1.3.2

[2019-05-10 08:18] #6 closed

[2019-05-10 08:28] aha-oretama commented on #6
Thanks!

[2019-05-12 19:17] namanbada0606 opened #7 "Video generated is corrupted under /allure-raw folder"
**Describe the bug**
I'm using this library with `version ^1.3.2`, Tests runs fine, generates the videos however recently observed this wired issue when viewing the report with Allure for videos the mime is incorrect.

 My reporters' options -

    reporters: [
        'spec',
        [video, {
            saveAllVideos: true,       // If true, also saves videos for successful test cases

[2019-05-12 22:08] presidenten commented on #7
I tried installing node 8.11.1 and I am running my tests in Firefox, but I cant seem to reproduce the issue even though Im running osx as well.

Would you mind creating an example project for me to download where this problem happens so I can try it?

[2019-05-13 12:26] presidenten commented on #7
There might be something happening in the tests which blocks the finalization of syncing the videos into the allure_raw dir. Thats why it would be of great help to see an example where this is happening.

If you check the videos in allure_raw, they are probably still placeholders with only a string path inside of them.

[2019-05-13 13:45] namanbada0606 commented on #7
Hello @presidenten

Thank you for your help.

I have provided an incorrect node and npm version above, my bad

Here are the correct ones -

⇒  node -v
v10.15.3

⇒  npm -v
6.4.1

Interestingly the video  under `_results_` plays fine no issue, however the ones under `/allure-raw` is corrupted.

I will downgrade Node version to 8.11 and let you know, The upgrade was done as NPM is now recommending v1

[2019-05-13 14:23] presidenten commented on #7
I dont think node version is the problem.
We are using node v10 as well. I switched to v8 to try to verify your issue.

If you could make a small example project for me where the issue is present, it would be easier for me to try to help you

[2019-05-14 02:34] namanbada0606 commented on #7
Give me some time, will create a sample repo

[2019-05-14 02:47] xyngfei opened #8 "Cannot see the recorded video file"
**Describe the bug**
Does it support screenshot on mobile native APP with jasmine framework?

I have encountered this issue when the test end

[0515444646413736 LINUX 7.0 #0-0] TypeError: Cannot read property 'toUpperCase' of undefined
[0515444646413736 LINUX 7.0 #0-0]     at <Jasmine>
[0515444646413736 LINUX 7.0 #0-0]     at Video.emit (events.js:182:13)
[0515444646413736 LINUX 7.0 #0-0]     at V

[2019-05-14 07:31] presidenten commented on #7
I managed to recreate the issue on my work computer. So no need to make repo.
Ill try to fix it during the day.

[2019-05-14 09:31] presidenten commented on #6
Please update to ^1.3.4 for better allure custom outputDir handling

[2019-05-14 09:32] presidenten commented on #7
Issue is fixed in ^1.3.4

[2019-05-14 09:32] #7 closed

[2019-05-14 09:48] presidenten commented on #8
Would you mind forking https://github.com/presidenten/wdio-template and replicating the issue in the test-file so that I may test on a android device here to try to isolate the issue?

All I can see now is that the selenium driver does not seem to take any screenshots after user actions, but I have no clue as to why that is. Having the test case here or a similiar case that is not working would ma

[2019-05-14 15:02] namanbada0606 commented on #7
Thank you @presidenten   The fix worked like a breeze.

Totally Brilliant, Thank you so much

Cheers,

[2019-05-20 11:22] PFaz540 opened #9 "Video was not recorded upon assertion failure expect true to be false"
**Describe the bug**
- A video was not output when I purposely failed a test.
- If I had the below code in my test, a video would be output as expected:
[code]
- However, if I had the below code - the test would obviously fail but no video is output:
[code]

The actual assertion I was using in my test that flagged the issue to me was:
[code]

**Log**
https://pastebin.com/TwRQQq0W

**To Reproduce**

[2019-05-23 21:45] presidenten commented on #9
Thanks for the extensive bug report. It was really helpful to isolate the bug.
There seems to be an issue when videos have very few frames.

I will release a fix shortly.

[2019-05-23 22:02] presidenten commented on #9
Issue is fixed in [v1.4.0](https://github.com/presidenten/wdio-video-reporter/releases/tag/v1.4.0)

[2019-05-23 22:02] #9 closed

[2019-05-23 22:15] presidenten commented on #8
Could you update to v1.4.0 and see if it fixes your problem?

If it doesnt fix it, Would you mind forking https://github.com/presidenten/wdio-template and replicating the issue in the test-file so that I may test on a android device here to try to isolate the issue?

[2019-05-27 04:00] xyngfei commented on #8
@presidenten apologize for the late reply.
Not sure why I cannot use the v4 to do the `npm i`
I hv reported this issue to the auther
https://github.com/amiya-pattnaik/webdriverIO-with-cucumberBDD/issues/11

Even I tried with another boilerplate project, I am still encountering a similar issue.
https://github.com/michaelguild13/Selenium-WebdriverIO-Mocha-Chai-Boilerplate

Give me some time, I will

[2019-05-27 05:40] xyngfei commented on #8
@presidenten

Please refer to this fork.
https://github.com/xyngfei/wdio-template

FYI, I didn't encounter any issue to execute wdio-template repo and I can see the video from the allure report.

[2019-05-27 06:40] presidenten commented on #8
The problem is that those two other boilerplates are using wdio v4 and Im using some hooks and methods that are only present in wdio v5.

If you upgrade them to wdio v5 Im sure it will work. Wdio v5 is scoped under @wdio/

For example:

[code]

Do you feel this issue is resolved, so I can close it?

[2019-05-28 05:24] xyngfei commented on #8
Under Appium setup guide section, where do I find wdio-config.json file?

If I didn't specify the browserName under the capabilities, I suspect will throw the exception above.

Besides, possible to add a sample how can I capture the appium native APP test?

[2019-05-28 05:50] presidenten commented on #8
I have planned that I wil write an extended tutorial on how to get appium up and running.
Until then, with `wdio-config.json` I mean this file: https://github.com/presidenten/wdio-template/blob/master/wdio.conf.js
If you dont scope appium-specific capabilities you will get exception because v5 being full w3c compliance. So in these files you need to write appium:deviceType instead of just deviceTy

[2019-05-28 06:17] xyngfei commented on #8
Thanks for your suggestion. I am really keen to wait for the Appium example soon.
FYI, I just added 2 of the lines below, I can see the video from the allure report.

`capabilities: [
    {
. . .
deviceType: "phone",
browserName: '',
. . .
    },
  ],`

[2019-05-28 06:17] #8 closed

[2019-05-28 13:58] xyngfei opened #10 "_results_ folder is being generated even outputDir has been defined"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Just use the wdio-template and define different outputDir.

**Expected behavior**
Default outputDir should be clean up.

**Environment (please complete the following information):**
 - **wdio-video-reporter version:** 1.4.0
 - **WebdriverIO version:** 5.8.3
 - **Mode:** WDIO Testrunner
 - **If WDIO Testrunne

[2019-05-28 20:54] presidenten commented on #10
Fixed in version v1.4.1.

Also updated the template project where I noticed I had references to a custom registry, which is now remapped to the official registry so dependency installation with yarn should be possible again.

[2019-05-28 20:54] #10 closed

[2019-05-30 02:15] xyngfei opened #11 "Question: Can make the recording feature to start at beginning of the execution of each test?"
I noticed that my recording video only has 1 or 2 seconds. How can start the video recording at the beginning of the test?

Besides, how the following 2 parameters can impact the video recording?
**videoSlowdownMultiplier** Integer between [1-100]. Increase if videos are playing to quick. Default: 3
**videoRenderTimeout Max** seconds to wait for a video to render. Default: 5

[2019-05-31 17:41] presidenten commented on #11
All your questions are answered in the readme. You really should read it. Its good. :-)

Here is an extended answer anyways.

Video can be captured in two ways: record video via vnc to the browser host or manual screenshots via selenium api.
- VNC is hassle to setup and is tricky on for example ios. And for the browsers where you get it working, its a bit tricky to separate the stream into segment

[2019-05-31 17:41] #11 closed

[2019-06-04 22:05] pmwebster opened #12 "Videos not displaying properly in allure"
**Describe the bug**
Videos are not being displayed in allure. I get a black box that doesn't play anything.
The video files are recorded / work.
When I curl the url for one of the video files, it is a link to the physical location of the text file on my hard drive.

**Log**
[code]

**To Reproduce**
Follow the quick start instructions. This is private product that isn't released to the public yet,

[2019-06-05 09:15] presidenten commented on #12
Judging by the error, there seems to be something wrong with the [allure output dir](https://github.com/presidenten/wdio-video-reporter/blob/6786202ddba036b0aaeceee50d4092a16d2a4cee/dist/wdio-video-reporter.js#L346)

Would you mind sharing your `wdio.conf.js` and `wdio-0-0-Video-reporter.log` after a run with `logLevel: 'debug'`?

I tried both with same node version, wdio 5.9.4 and 5.9.6 without b

[2019-06-05 11:59] presidenten commented on #12
Never mind! Found the error. I was using the incorrect default allure directory after all.
Ill make a fix shortly.

[2019-06-05 12:23] presidenten commented on #12
Fixed in v1.4.3

[2019-06-05 12:23] #12 closed

[2019-06-05 16:29] pmwebster commented on #12
Thanks so much @presidenten for fixing this so fast!
It works beautifully now :D
🎉 🎉 🎉

[2019-06-21 10:58] aha-oretama opened #13 "Type DSL is missing"
**Describe the bug**
webdriverio can load config file as typescript. (see https://webdriver.io/docs/typescript.html)
But wdio-video-reporter has no type DSL, so we cannot import like this in a typescript file.

[code]

**To Reproduce**
See https://webdriver.io/docs/typescript.html#typed-configuration.

**Expected behavior**
 'wdio-video-reporter' can be used in typescript files.

**Environment (pl

[2019-06-21 11:43] presidenten commented on #13
Whats the actual use case for this?

This library dont have any methods that are supposed to be accessed by users. It only triggers on wdio hooks and is only used in the wdio config file.

Also the import statement doesnt give any advantages over the require statement, since everything in the library is needed and thus nothing can be shaved away in treeshaking.

[2019-06-21 12:33] aha-oretama commented on #13
I understood following meaning and I close this issue. Thank you!

[2019-06-21 12:33] #13 closed

[2019-07-17 19:11] SanthoshBonala opened #17 "Disable Logging and rawscreenshots"
Even after setting log level to silent in wdio config, video reporter still generates wdio-X-Y-Video-reporter.log and rawSeleniumVideoGrabs folder.
This is what loaded config for video reporter looks like

[code]

[2019-07-18 06:16] ViniSiva opened #18 "Allure report generated via Jenkins failed to Load the Execution Video in Safari Browser"
**Describe the bug**
Allure report generated via Jenkins failed to Load the Video [Execution Video].
Same code base running from local machine, loads the video in allure report.Same is not happening while running the test in Jenkins.
Execution Video attachment created in allure without loading the video.

**Log**
11:12:27  "Video" Reporter:
11:12:27 Using reporter config:[
11:12:27   "dot",
11:12:

[2019-07-18 12:50] danielsaf opened #19 "Video is not generated onWindows10 and Windows Server."
**Describe the bug**
On macOs video is generated but on Windows 10 and Windows Server is not.

**Log**
Using reporter config:[
  "spec",
  [
    null,
    {
      "saveAllVideos": true,
      "videoSlowdownMultiplier": 5,
      "videoRenderTimeout": 10
    }
  ],
  [
    "allure",
    {
      "outputDir": "reports/allure-results_310",
      "disableWebdriverStepsReporting": true,
      "disableWeb

[2019-08-14 13:46] tangentially opened #21 "[Feature request] Add support for cucumber"
**Describe the bug**
When using cucumber as a framework, video recording fails to work. No videos are produced. Cluttered and confusing raw output captured.

**Log**
https://gist.github.com/tangentially/aaf0c0d20364af9cc3279ba1ae120e9d

**To Reproduce**
Create a simple cucumber scenario and run.

**Expected behavior**
Videos recorded, one per scenario.

**Environment (please complete the following

[2019-08-23 11:42] aha-oretama opened #22 "Question: Why wdio-video-reporter add allure's arguments?"
**Describe the bug**
See these lines.
I have a question. Why  wdio-video-reporter add allure's argument?
https://github.com/presidenten/wdio-video-reporter/blob/04f5a248d202c4a199e5cd5065516e79deb67993/src/index.js#L134-L141

When a test is retried and first time's test fails and next test  succeeds, this makes allure reporter display not one test case but two test cases.
( Because failed test doe

[2019-08-26 16:04] vikmaksimenko commented on #21
Same for me, pending for this issue to be resolved

[2019-08-27 16:29] presidenten commented on #21
I dont know cucumber. Would you guys mind forking this repo: https://github.com/presidenten/wdio-template
and setting it up with cucumber in a scenario where the bug can be reproduced?

[2019-08-27 16:38] presidenten commented on #22
They are only run if allure is configured in wdio.conf.js (example here: https://github.com/presidenten/wdio-video-reporter/blob/04f5a248d202c4a199e5cd5065516e79deb67993/demo/wdio.conf.js#L34)

The reason is described in the Appium setup section of the readme:
https://github.com/presidenten/wdio-video-reporter#appium-setup
Basically Allure reports breaks down when testing multiple browsers which h

[2019-08-27 16:42] presidenten commented on #19
I will try to run some tests with the template project on a win10 machine when I get to work tomorrow. But Im wondering if its the library by it self or when used with mocha that is the problem.

If I cannot reproduce, Ill be back to ask you to fork https://github.com/presidenten/wdio-template and set up a simple scenario where it happens.

But let me check first.

[2019-08-27 16:43] presidenten commented on #17
Ok, Ill have a look tomorrow.

[2019-08-27 20:44] vikmaksimenko commented on #21
You may try wdio boilerplate Cucumber project - https://github.com/WarleyGabriel/demo-webdriverio-cucumber. If it doesn't fit for you - I'll be able to fork and update https://github.com/presidenten/wdio-template tomorrow morning (from 9 AM EEST)

[2019-08-28 08:29] presidenten commented on #17
This is now resolved in https://github.com/presidenten/wdio-video-reporter/commit/c8e9da68d7937d68619fabba2f87bc75e66165fb

The `rawSeleniumGrabs` is unfortunately part of the reporter and cant be removed safely from within the reporter without risking video corruption on slower machines. This is because I dont have a hook for when all runners are done, only when a single runner is done. So trying

[2019-08-28 08:29] #17 closed

[2019-08-28 09:07] presidenten commented on #19
I cant verify this on Windows 10. I have a freshly installed win10 pro running node 10.16.3 and selenium in a docker (since I have no clue how to get selenium standalone to work).

Maybe its an issue with the environment variables that you are using in the config?

Anyways, please fork https://github.com/presidenten/wdio-template and set up a simple scenario where the issue can be reproduced.

[2019-08-28 09:08] presidenten commented on #21
A fork would be nice with as slim as possible setup with cucumber so its easy to locate the issue

[2019-08-28 09:19] presidenten commented on #18
I will try to set this up and test it.

Until then, does it work if you run it on your local machine?

[2019-08-28 12:22] vikmaksimenko commented on #21
@presidenten , I setup wdio-template fork with Cucumber, hope, it would be helpful - https://github.com/vikmaksimenko/wdio-template

[2019-08-28 13:17] presidenten commented on #18
I have verified that safari does not want to play videos from the jenkins allure report.

It does however seem to be an allure issue, since the solution lies in modifying the generated html to to play nice with safaris autoplay policy.

See stackoverflow issue:
https://stackoverflow.com/questions/20347352/html5-video-tag-not-working-in-safari-iphone-and-ipad

No problems to view videos in chrome o

[2019-08-28 13:17] #18 closed

[2019-08-28 13:19] presidenten commented on #21
Thanks! Ill check it out!

[2019-08-28 13:57] presidenten commented on #21
All right... it seems like cucumber constructs many tests from one feature file.

Here is example debug logLevel output:
[code]

and "normal" run where everything stays in one test:
[code]

It seems like the first line in the scenario gets its own suite, and all other lines become very small tests in that suite.

Right now Im tracking commands in one single test to make frames.

To support cucumbe

[2019-08-29 08:24] aha-oretama commented on #22
Sorry, I couldn't reproduce easily.
When the following error occurs in `beforeEach` step, what I explained can be reproduced. However, the following error cannot be caused manullly...
[code]

So I close this issue....

[2019-08-29 08:24] #22 closed

[2019-09-03 20:37] jrobinson01 opened #23 "increase video length to include a few seconds before and after the failed test"
This reporter is really useful, but it doesn't seem like there's enough info in the video to figure out what is going wrong. It might be useful for the video to start recording a few seconds earlier and stop a few seconds after the failed test.

[2019-09-03 20:54] presidenten commented on #23
Not sure how to do it, or if it is even possible.
The reporter latches on to the hooks that webdriver.io exposes:
https://webdriver.io/docs/customreporter.html#event-handler

I think you may be able to do the same thing by doing a few actions that generates screenshots (see the list here: https://github.com/presidenten/wdio-video-reporter/blob/master/src/config.js#L33) in the beforeEach/afterEach

[2019-09-04 12:39] jrobinson01 commented on #23
I took a quick look through the code but didn't quite grasp how the videos are generated. ffmpeg commands are crazy! What events does the reporter use to determine the start and end of the video? Would it be possible to capture the whole spec in the event of a failure? My idea there was to always gather the screenshots, and only build/save a video if there's a failure in the current spec.

Another

[2019-09-04 15:29] presidenten commented on #23
This is the quickie on how it works:
- When a test starts it prepares with meta info, such as test name and reset the frame counter.

- When any command is issued to the selenium server it is filtered through a list of what I think are "user actions". If the command is an action, then the reporter snaps a screenshot.

- When the test ends, a ffmpeg command is prepared that will compile the frames

[2019-09-16 20:40] gannand commented on #23
Would it be possible to save all the screenshots within the same it() that the failure occurs?

[2019-09-22 16:09] presidenten commented on #23
Isnt this default behaviour? Or maybe I missunderstand something?

[2019-11-25 22:11] damonpam commented on #21
It would be a nice feature!

[2019-11-27 15:34] jonn-set commented on #21
I have pushed changes to make it compatible with Cucumber >v5, please can someone review and give feedback.

[2019-12-11 10:43] jonn-set commented on #21
@presidenten hi, could you be able to review my changes, please? It make this cucumber compatible

[2019-12-11 19:56] presidenten commented on #21
@jonn-set, sorry for the hold up. I really appreciate the work, as many have asked for this.

This semester has been really hectic at work and Im trying my best to keep my head above the water and there is just no spare energy right now since I really need to push through these last two days.

If you could wait a few more days, I will try to have a look on it at the beginning of next week when my

[2019-12-11 22:35] jonn-set commented on #21
No problem, whenever you have free time, sure can wait till next week. Will give you a nudge next week.

Thanks

[2019-12-18 13:11] #21 closed

[2019-12-18 13:47] presidenten commented on #21
v2.0.0 is released and published on npm

Please see [release notes](https://github.com/presidenten/wdio-video-reporter/releases/tag/v2.0.0) and cucumber section in [readme](https://github.com/presidenten/wdio-video-reporter#cucumber-support)

[2019-12-18 17:00] presidenten commented on #19
Closing this because no more input. Reach out again if issue arises again

[2019-12-18 17:00] #19 closed

[2019-12-18 17:02] presidenten commented on #23
Closing this because no more input. Reach out again if you want me to reopen the issue

[2019-12-18 17:02] #23 closed

[2020-01-02 17:22] vidya-sundararaman-q2 opened #31 "Using video reporter with chrome headless is blocking popups"
**Describe the bug**
When i use the video reporter with chrome headless, browser alert popups are being blocked in the test.
When i remove video reporter and run the tests in headless mode, the browser popups show up.

**Log**
Please set `wdio.config.logLevel = 'debug'`, then post the whole file called `wdio-0-0-video-reporter.log`.
If it is very large, consider using a gist - http://gist.github.c

[2020-01-08 17:09] mohsenny commented on #17
Can we please have the possibility to pass a flag to skip the creation of `rawSeleniumVideoGrabs` and its content. The job is failing because of the path being too long for `mkdir`:

` name too long, mkdir '/home/circleci/project/ui-test/screenshots/rawSeleniumVideoGrabs/Unpublished-Job--Job-CAREER-PAGE-STATUS-is-unpublished-for-ats-compoany--Job-STATUS-is-unpublished_by_recruiter-and-CAREER-PAGE-

[2020-01-27 22:01] Faz540 opened #33 "Video will not be created if a failure/error occurs in a BEFORE hook"
**Describe the bug**
If I'm using a Mocha framework and I have before hook that navigates to a page and waits for an element to exist, if the element does not exist - then a video will not be created.
If I move that one "wait for element to exist" command out of the before hook and into the "it" block, the video will be successfully created.

Apologies if this issue is basically a duplicate of the

[2020-01-27 23:19] presidenten commented on #33
First of all, thanks for this excellent bug report!
Your example was easy to run and examine.

So to the issue at hand.

It is correct that no video will be recorded if the exception happens in a before handler. The reason is that I do not have any test information at that point, so I dont know which name to put on the files. The test information comes in the "onTestStart"-hook.
You can see the av

[2020-01-27 23:22] presidenten commented on #31
Hi!

The issue template is not there just because it is pretty :-)

Please fill in the blanks properly and make an example by forking https://github.com/presidenten/wdio-template so I have something more substantial to go on.

[2020-02-25 11:09] karl0ss opened #35 "WebdriverIO fails to run with wdio-video-reporter"
Have included the video section into my reporters array

[code]
As well as adding to the const to the top of the wdio config, when I exectute my tests all my runners fail, when looking in my log file this is displayed

[code]

any idea?

Thanks

[2020-03-26 14:58] ff-franciscotavares opened #39 "logLevel and content files in outputDir"
Hi!
According to your documentation, you say: "To see processed messages, set wdio.config.logLevel: 'debug' and check outputDir/wdio-X-Y-Video-reporter.log. This will also leave the screenshots output directory intact for review"

So, I set `logLevel: error` and see these log files and screenshots.
Actually, do we have any way of just get the videos in outputDir?

[2020-03-31 12:09] #35 closed

[2020-04-06 10:46] mkgerasimenko opened #40 "The latest screenshots do not fall within the ffmpeg video."
When I'm using wdio-video-reporter library, the latest two screenshots do not fall within the ffmpeg video.
**BTW** all screenshots are saved at the _results_ folder but there are no two latest in the ffmpeg video.

**Log**
The log is empty after I set `wdio.config.logLevel = 'debug'`.. **But**, please see the following log from my test result:

[code]

**Expected behavior**
The latest screenshots

[2020-05-08 10:13] krishnadilips opened #41 "Video which is attaching is not attaching properly and showing the memory in Bytes and it is not playing"
**Describe the bug**
Once the execution is completed, video got generated and attaching to the allure report but it the video attached is coming in Bytes and it  is not playable.

**Log**
[wdio-0-0-Video-reporter.log](https://github.com/presidenten/wdio-video-reporter/files/4598380/wdio-0-0-Video-reporter.log)

**To Reproduce**
Run a normal test case with WebdriverIO along with wdio-video-reporter

[2020-05-24 16:20] und3fined-v01d opened #43 "Extend wdio-video-reporter to support WebdriverIO v6"
**Is your feature request related to a problem? Please describe.**
The `wdio-video-reporter` npm package made video recording of test runs nearly seamless with WebdriverIO v5. Because of how useful recording of tests can prove to be, an extension to support WebdriverIO v6 should not be a bad consideration more so because of the fact that this is the only plugin that supports video recording for We

[2020-05-25 18:18] AlQaholic007 commented on #43
I would love to work on this, if someone can approve this, I would love to create a PR.

[2020-05-26 07:42] presidenten commented on #43
Thank you!

I would actually appreciate it very much, since I have alot to do at work at the moment.

What needs to be done in main lib:
- packages updated with yarn
- test
- bulid

What needs to be done in demo dir:
- packages updated with yarn
- try jasmine style tests with `yarn e2e` and check report
- try cucumber style tests with `yarn e2e-cucumber` and check report

If possible, also try the

[2020-05-26 07:42] AlQaholic007 commented on #43
Thank you so much for guiding me with the first steps. I'll try to work on it and raise a PR.

[2020-05-26 07:43] presidenten commented on #31
Closing because of lack of response

[2020-05-26 07:43] #31 closed

[2020-05-26 07:48] presidenten commented on #41
Linked with issue https://github.com/presidenten/wdio-video-reporter/issues/43

[2020-05-26 07:50] presidenten commented on #41
For now, try wdio 5 and node 10. Otherwise we have an eager developer who wants to bump

[2020-05-26 07:53] presidenten commented on #43
No problem, feel free to ask questions if you get stuck.

[2020-05-26 07:59] presidenten commented on #39
Try `logLevel: silent`

[2020-05-26 08:01] presidenten commented on #40
Could you please try to isolate the issue in a fork of the template project so I have a way of trying to find the bug in the replicated code. I dont have this issue so I cant work on it otherwise.

https://github.com/presidenten/wdio-template

[2020-05-26 08:02] #33 closed

[2020-05-26 13:35] AlQaholic007 commented on #43
Hey @presidenten , can you help me with a weird problem. So I have successfully upgraded the package to support v6

[2020-05-26 13:36] AlQaholic007 commented on #43
However I am facing a weird issue on one of the tests, the test for multiselect. It selects multiple options but on clicking the display all, it displays only one option. This is a bug with the https://seleniumeasy.com/test/ website since I tried that with my mac manually and still face the same issue

[2020-05-26 13:38] AlQaholic007 commented on #43
<img width="611" alt="Screenshot 2020-05-26 at 7 07 02 PM" src="https://user-images.githubusercontent.com/55358652/82907408-34e2ce00-9f84-11ea-83a1-5d51598c1e23.png">

[2020-05-26 13:47] AlQaholic007 commented on #43
All other tests pass

[code]

[2020-05-26 16:57] AlQaholic007 commented on #43
Do you think we could possibly replace this test with some other test?

[2020-05-26 17:04] presidenten commented on #43
Not all the tests inte the demo-dir are supposed to pass. :-) Sorry I could not reply earlier. I see you have been working on this for some time.

Anyways, note that some of them have `(fails by design to gen video)` in their name? Thats because I want to see a couple of failing tests and a couple of passing tests so I can verify that the `saveAllVideos` configuration option works. And also people

[2020-05-26 17:14] AlQaholic007 commented on #43
Ooppsss so silly of me to not have noticed the names🙈...the main unit tests all pass🥳...I guess it's PR time🤩

[2020-06-05 10:43] #43 closed

[2020-06-15 20:37] und3fined-v01d opened #45 "Missing a JSON Wire endpoint leads to failure"
**Describe the bug**
We have a pattern match check for jsonWireMsg endpoint in wdio-video-reporter `index.js` file at https://github.com/presidenten/wdio-video-reporter/blob/2e113f17a45f7ef345f4cf14f2bbbfc904e1f604/src/index.js#L86.

However if an action has no endpoint, the video reporter reports an error.

**Log**

23:58:24     at Video.onAfterCommand (/workspace/src/extensions/AbuseFilter/node_

[2020-06-15 20:39] und3fined-v01d commented on #41
@krishnadilips let me know if you need any help with this or if this was resolved?

[2020-06-15 20:42] und3fined-v01d commented on #45
@presidenten I am not sure how to appropriately title this, but this should be an easy PR.

[2020-06-19 17:29] joaquimds commented on #40
I have the same issue – I'll try to create a simple repo to demonstrate.

[2020-07-07 13:08] pyxis828 commented on #41
I am seeing this happening when I run my tests on Gitlab pipeline.  However, I am getting an error in the beginning of the test run that the video reporter is unsynced. I have tried increasing the timeout, but that hasn't resolved the issue, but I may try increasing it further.  I was previously getting errors about the VideoRender having timeouts as well, but I increased that timeout, and resolve

[2020-07-30 01:19] trevor-bliss opened #48 "Reporter errors when test name is long (242 char limit)"
**Describe the bug**
CI fails when test name is very long. On the CircleCI docker image I'm running the character limit is 242 characters for the file name. I have confirmed this manually by setting the test name such that the filename produced fails at 243 characters, but passes at 242.

This is very similar to https://github.com/presidenten/wdio-video-reporter/issues/1. Instead of setting the li

[2020-08-17 14:01] jeyaprakash1989 commented on #41
I have got same issue with my webdriverio product. Anybody having the solution ?

[2020-08-24 13:41] #40 closed

[2020-08-24 13:47] presidenten commented on #48
Sorry for the long wait! Im finally back after a long vacation and will have a look at this issue.
Ill make it into an option that defaults to 250chars to be backwards compatible.

I had a few incoming PRs that will be bundled together with the fix. So it will be fixed and released within a week or two.

[2020-08-24 13:52] presidenten commented on #41
@jeyaprakash1989 Would you mind trying with wdio-video-reporter 3.0.0?

[2020-08-24 13:55] presidenten commented on #41
@pyxis828 Would you mind forking https://github.com/presidenten/wdio-template and setting up a similar test scenario so I can try to find the error?
Your slowdown multiplier and timeout seems to be very off. Multiplier 50 would make a huuuuuge file. Try setting it to 2 or 3 instead.

[2020-08-24 13:56] presidenten commented on #41
@krishnadilips Have you tried with version 3.0.0 yet?

[2020-08-24 13:57] presidenten commented on #39
@ff-franciscotavares did it work with loglevel silent?

[2020-08-24 14:03] presidenten commented on #45
Thank you for a very nicely described issue!
Just curious though, what kind of actions do not correspond to an endpoint?

[2020-08-24 14:05] #45 closed

[2020-08-24 15:41] presidenten commented on #48
Fixed in v3.1.0

[2020-08-24 15:41] #48 closed

[2020-08-24 15:43] presidenten commented on #41
Just released v3.1.0, that might fix this issue
If anyone of @jeyaprakash1989 @pyxis828 @krishnadilips @und3fined-v01d could verify this, it would be great.

[2020-08-24 15:43] #39 closed

[2020-08-24 15:55] presidenten commented on #45
(Merged your pr in v3.1.0)

[2020-08-25 08:56] presidenten commented on #48
Check the option `maxTestNameCharacters`

https://github.com/presidenten/wdio-video-reporter#normal-configuration-parameters

[2020-08-25 10:42] und3fined-v01d commented on #41
I'll try to verify this today

[2020-08-25 10:43] und3fined-v01d commented on #41
@krishnadilips can you try to provide a minimum steps to reproduce?

[2020-08-25 10:46] und3fined-v01d commented on #45
I guess those instances where we perform a script injection using `browser.execute` don't get registered as JSON wire endpoint. I was planning on doing a short POC on confirming the same. Hopefully with v3.1 we should be able to confirm this behaviour.

[2020-08-25 17:51] trevor-bliss commented on #48
Awesome, thank you!

[2020-09-02 09:39] Waltari10 opened #49 "outputDir without allure doesn't seem to work"
**Describe the bug**
Everything else works like a charm, except the outputDir setting doesn't seem to do much. It creates a "videos" folder at the given path, but everything is still saved under "./_results_".

**To Reproduce**
[code]

**Expected behavior**
I would except all the videos and screenshots to be saved under './e2e/test_output/videos'.

**Environment (please complete the following info

[2020-09-03 14:29] pyxis828 commented on #41
@presidenten for some reason, the email regarding this ended up in my spam folder, ran across it by accident.  So I have actually resolved my issue by reverting to "wdio-video-reporter": "^2.0.0".  Guess I didn't read the docs closely enough at first to see where it was clearly written "For Webdriver IO v5, please use wdio-video-reporter version ^2.0.0." I don't think I'd care to try upgrading aga

[2020-09-03 14:40] und3fined-v01d commented on #41
Good to hear that. @presidenten should we mark this as resolved?

[2020-09-07 08:07] presidenten commented on #41
Issue seems to be resolved. Thanks for getting back with info @pyxis828

[2020-09-07 08:07] #41 closed

[2020-09-07 08:32] presidenten commented on #49
This one sure got me this morning :-)
I need more coffee.

At one point I decided to not have a separate outputDir property in the reporter and just use the outputDir from wdio. ...but it seems like I forgot to update the readme. :-)

However, it is easy to get it back into the code if there is a need to have a separate outputDir for this reporter.

[2020-09-07 10:04] presidenten commented on #49
Just figured you might not care about wdio logs, but still want to direct the videos.
So I fixed it to be according to the readme again.

Issue is resolved in v3.1.1 that is now availble on npm

[2020-09-07 10:04] #49 closed

[2021-02-08 04:18] ylilarry opened #51 "Possibility to record the test suite as one video"
My test suites are organized as such:
[code]

Where each `it` is one user action. Right now each `it` generates a separate video. I'd like to know if it is possible to generate the video for the entire suite.

Thank you.

[2021-02-08 07:59] ylilarry commented on #51
I created a hack to get around this:
https://github.com/ylilarry/wdio-video-reporter/pull/1/files

[2021-02-22 16:37] iamatharva opened #53 "Unable to disable the rawSeleniumVideoGrabs screenshot."
**Is your feature request related to a problem? Please describe.**
Implemented the wdio-video-reporter for our test automation.
and we have set   `saveAllVideos: false`
As we want to save the videos only after the test failure.
But the rawSeleniumVideoGrabs are still getting generated even if the test are passed though the video is not getting generated but the screenshots are consuming memory in

[2021-02-22 17:13] jasonwilliams commented on #51
+1 on this, i would be interested in seeing the whole suite as a video also.
Hope this makes its way upstream

[2021-02-23 09:15] presidenten commented on #51
@ylilarry Would you mind opening a PR since there seems to be interest in this functionality?
Ill try to have a look as soon as I can

[2021-02-23 09:20] presidenten commented on #53
The reporter dont know beforehand if the test will pass or fail. Seems Ill get a PR soon for the other open issue, when I merge it and bump all dependencies and such, I can have a look at deleting the screenshots for passing tests if the `saveAllVideos` flag is set.

[2021-02-23 09:23] iamatharva commented on #53
Thank you for considering this and responding too quickly.

[2021-02-27 23:57] ylilarry commented on #51
There are a few details that need to be discussed:

1. How to determine the video file name
2. What to do when two videos have the same name

My hack works for me because I deliberately made sure each suite contains one root `describe` that has a unique description.

However, a suite can be as such

[code]

In intuitive way to is to name the video file `A+B`.

@jasonwilliams Would you provide some

[2021-02-28 00:13] jasonwilliams commented on #51
`A-B` would make more sense and be more consistent with how things are named now.

basically as you mentioned, as a way of watching the whole suite we have tests where each it() is a user interaction so right now the videos are quite short.

I would like this to be optional though as we don’t always need it, so some way of switching between how it is now and the full describe

[2021-04-28 20:07] cnelson opened #56 "Support for Webdriverio 7?"
Are there any plans to make this module compatible with wdio v7?

[2021-05-18 21:27] christian-bromann opened #57 "Move project to WebdriverIO Community Org"
Hey @presidenten  ,

first off, thank you for creating this plugin and extending the WebdriverIO ecosystem!

We have been looking into successful WDIO plugins like this one as we want to ensure that its development can be continued even if the original maintainer decides to move on. Therefore on behalf of the WebdriverIO community I would like to ask if you would be interested to move this reposit

[2021-05-20 13:45] presidenten commented on #57
Hi @christian-bromann,

Yes please. It sounds like a great idea.

I like this project and feel quite bad that I cant give it the attention it deserves.

Im leading the devops journey in my company and Im just swamped with things to do, which leaves me utterly fatigued on the weekends.

How do we proceed?

I know there are some people waiting for it to be verified on wdio 7. I have checked and all

[2021-05-20 14:32] christian-bromann commented on #57
Here are the steps that are necessary to do this transition:

1. move this repository into the `webdriverio-community` organisation, see more information on that in the [GitHub docs](https://docs.github.com/en/github/administering-a-repository/transferring-a-repository)
2. then add [`wdio-user`](https://www.npmjs.com/~wdio-user) to the list of maintainer of the project on NPM

That should be it. L

[2021-05-20 15:23] presidenten commented on #57
Ok! Owenership should be `webdriverio-community` now and I think I also added wdio-user as an owner to wdio-video-reporter

I have never done it before. This is the output:
[code]

If you guys want, I would be up for a video meeting where I can explain how the code is structured, to help you get it up and running.

[2021-05-20 15:31] christian-bromann commented on #57
@presidenten the repository transfer probably failed because I forgot to invite you to the org. I just did that so please try again.

Would you mind schedule something as part of the [Open Office Hours](https://webdriver.io/community/openofficehours)?

[2021-05-20 16:35] presidenten commented on #57
@christian-bromann

I still get: `You don’t have the permission to create public repositories on webdriverio-community`

![image](https://user-images.githubusercontent.com/3883897/119016356-20b88d80-b99a-11eb-9eb2-3be794de6cf3.png)

[2021-05-21 07:44] #57 closed

[2021-05-24 14:29] mikesalvia commented on #56
@cnelson I am currently on Webdriver.IO v7, I am not seeing any issues with Appium using an iOS simulator, so I would imagine the support is there for others.

Bit of other knowledge, this is a reporter, not a service, so changes to Webdriver.IO won't touch this as much, changes to `@wdio/cucumber-framework` or `@cucumber/cucumber` may. I am going to propose an update to the README.md.

[2021-05-25 16:19] mikesalvia opened #60 "Construct videos earlier and provide paths to attach to other reporters"
**Is your feature request related to a problem? Please describe.**

I want to be able to send the created video to ReportPortal, etc. Since all videos are constructed in `onRunnerEnd` the only place we can do this is `onComplete` which is kind of late.

**Describe the solution you'd like**

I want to have access to the last created video path as well as access to file in `afterScenario`.

**Descri

[2021-05-25 21:04] mikesalvia commented on #60
When using this with `wdio-reportportal-reporter/service` I see lots of weird timing issues. :-(

[2021-05-26 13:06] mikesalvia commented on #60
Toying with the idea of converting this to a service to fit my needs. I will let you know what I find. It does kind of make sense as a service IMO as it isn't generating a reporter but a service that is collecting further data points.

[2021-05-26 18:40] christian-bromann commented on #56
Fixed by #59

[2021-05-26 18:40] #56 closed

[2021-06-14 11:23] jasonwilliams commented on #51
@ylilarry is there a reason you haven't opened a PR with your changes on this repo?

[2021-06-29 15:27] davenh0000 opened #63 "Record videos per file/suite"
Is it possible to record the video per suite/module/file instead of per test case?

[2021-07-12 10:08] christian-bromann commented on #63
Afaik the current behavior is that the video shows a complete session which contains all tests within a single file. Do you experience a different behavior?

[2021-07-12 12:36] presidenten commented on #63
@christian-bromann
No, its recording one video per it-statement or cucumber scenario, i.e. test case.

There have been a couple of requests for this functionality, also a similar one to have only one long video of all tests for each browser.

I started to work on the functionality but never finished.

A few issues to deal with:
- Should it record all tests and override the `saveAllTest` option, or

[2021-07-12 12:54] presidenten commented on #60
@mikesalvia

Actually the video generation starts at each `onTestEnd`
https://github.com/webdriverio-community/wdio-video-reporter/blob/main/src/index.js#L176

The problem with videos is that it takes a different amount of time to generate each video and write it to the hdd, so what you see at `onRunnerEnd` and `onExit` are functions that forces the selenium runner to stay open while videos are st

[2021-07-12 12:57] presidenten commented on #53
@iamatharva
Is it ok if I close this issue?
If you are still having problems, you could try to add add a `posttest`- or `poste2e`-hook in package.json scripts

[code]

[2021-07-12 12:59] presidenten commented on #51
I mentioned in a different issue that a similar functionality could be solved kind of easily with a post-processor that joins the video after the run.

Would this be an ok solution for this issue as well?

[2021-07-12 13:07] jasonwilliams commented on #51
Sounds good to me

[2021-07-19 15:44] iamatharva commented on #53
Yes, we can close this one.
The above suggestion works.

[2021-07-19 15:44] #53 closed

[2021-10-01 14:24] jasonwilliams commented on #63
Is https://github.com/webdriverio-community/wdio-video-reporter/issues/51 and this issue a duplicate? Maybe only @christian-bromann

Can it not respect the settings applied already in regards to this?

It wont solve the second issue above, but maybe it would be enough?

I would like to see a built-in solution without having to look for a post-processor.

I wonder if [@ylilarry's solution](https://

[2021-10-25 09:49] adam-knights opened #64 "Version bump required for @wdio/cli to avoid possible security issue with compromised ua-parser-js version"
See https://github.com/faisalman/ua-parser-js/issues/536 for full details.

@wdio/cli released a new version, 7.16.2, which locks down ua-parser-js to a safe version. wdio-video-reporter should bump @wdio/cli to that version asap.

[2021-10-25 09:54] #64 closed, assigned to nobody

[2021-10-25 10:29] christian-bromann opened #66 "Remove `sleep` in favor of async/await"
**Describe the bug**
Putting the process to an halt with:
[code]

is not ideal as it completely blocks everything from happening. We should replace this and all functions with proper async/await logic. I see similar implementations in all `do { ... } while (...)` places.

**Log**
n/a

**To Reproduce**
n/a

**Expected behavior**
Use `async/await` instead of this.

**Environment (please complete the

[2021-11-12 16:39] pedrofig-td opened #67 "wdio-video-reporter not working with multiremote"
**Describe the bug**
An exception is thrown when trying to use wdio-video-reporter with multi-remote.

**Log**
[code]

**To Reproduce**
- Install wdio-video-reporter
- Configure multiremote in wdio.conf.js. Example:

[code]

- Run any spec

**Expected behavior**
The spec should execute, and a video should be recorded.

**Environment (please complete the following information):**
 - **wdio-video-re

[2021-11-12 16:40] christian-bromann commented on #67
Thanks for reporting @pedrofig-td! Any contributions are much appreciated, thanks!

[2022-01-26 17:44] LikaKse opened #71 "When starting the autotest, an unknown error periodically occurs, which causes the test to crash"
**Describe the bug**
A failing test sometimes causes wdio-video-reporter to crash.

**Stdout**
[code]

**To Reproduce**
video reporter
npx wdio run wdio.conf.js

**Expected behavior**
- video record  in allure report
- failing test stack trace in allure report

**Actual behavior**
- empty video record
- unexpected stack trace

**Environment**
 - **wdio-video-reporter version: 3.2.0**
 - **Webdrive

[2022-01-26 20:19] christian-bromann commented on #71
Can you provide some sort of reproducible example? As you can see this log doesn't help at all to guess where a bug might be located. Could be this library or your environment. Without more information it will be impossible to investigate this problem.

[2022-01-27 17:49] LikaKse commented on #71
I'm running tests in a docker container.

I reproduced the environment in a new project https://github.com/LikaKse/wdio-template .
Without the tested site located on the local network, I can't reproduce the error.
I managed to collect more logs.
[stdout.txt](https://pastebin.com/aHCVst5K)
[wdio-0-0-Video-reporter.log](https://pastebin.com/NZXqpwf7)
What other information could be useful to you?

[2022-01-27 18:11] christian-bromann commented on #71
Thanks for providing the information. I currently don't have much time to look into this but if anyone can help to investigate, this would be much appreciated!

[2022-01-31 20:40] ginta1337 commented on #71
Exception generated by **browser.saveScreenshot** at [index.js#L113](https://github.com/webdriverio-community/wdio-video-reporter/blob/main/src/index.js#L113) was not handled by "try catch" block, that leads to whole promise chain fails with warnings:
[code]

I replaced "try catch" statement with ".catch(()=>{})" and sent a [patch](https://github.com/webdriverio-community/wdio-video-reporter/files

[2022-02-05 12:09] LikaKse commented on #71
"unknown error: cannot activate web view" fixed by increasing the resources available to the container and setting the following arguments to chrome:

[code]

@ginta1337 thank you for your help in debugging

[2022-02-05 12:09] #71 closed

[2022-02-14 14:42] ajitesh11 commented on #67
Hi @christian-bromann I got some working solution for this fix and want to contribute to fix it. The solution works
1. When wdio run in non multi remote mode
2. When wdio run in multi remote mode with one browser (browser capability is given custom name)
3. When wdio run in multi remote mode with two browser - Here we get video from one browser only.

Both 2 and 3 are use cases for my application,

[2022-02-14 16:22] ajitesh11 commented on #67
Hi Again @christian-bromann  , Please look at the PR. Please let me know if the fix is ok or suggest where we can improve it.

I will try to increase unit test coverage asap for me :)

[2022-02-14 17:40] christian-bromann commented on #67
Cool, thanks! Let's continue convo in #72

[2022-02-14 17:40] #67 closed

[2022-03-17 20:55] bkapadia01 opened #73 "Observing "Cannot read property 'filter' of undefined" after adding video to reporters object"
**Describe the bug**
After adding the video reporter to my wdio conf file the test do not run and I am faced with the following error.
`ERROR @wdio/local-runner: Failed launching test session: TypeError: Cannot read property 'filter' of undefined`

We are using running test on both an iOS app and on a website.
We have successfully added alurre reporter and cucumber to our framework and working as

[2022-04-04 12:22] ajitesh11 commented on #73
@bkapadia01 Please check again now with latest version. This should be fixed as part of https://github.com/webdriverio-community/wdio-video-reporter/pull/72

[2022-04-04 13:05] christian-bromann commented on #73
Thanks for taking a stab at it @ajitesh11 .. will close for now but happy to re-open in case something is still incorrect.

[2022-04-04 13:05] #73 closed

[2022-05-25 09:46] christian-bromann opened #74 "Transition package from CJS to ESM"
As part of the [v8 effort](https://github.com/webdriverio/webdriverio/issues?q=is%3Aopen+is%3Aissue+milestone%3Av8) we are currently [migrating over to ESM](https://github.com/webdriverio/webdriverio/issues/8306) as many packages will stop support CJS in the future. This means we have to transition all plugins to ESM as well, ideally with continuous support for CJS.

[2022-06-27 12:57] p001389 opened #75 "Failed loading configuration file when use wdio-video-reporter with node 16"
`ERROR @wdio/config:ConfigParser: Failed loading configuration file: {MyPath}\wdio.conf.js: undefined`

The error just happen when I require to `wdio-video-reporter` in configuration file and using `Node 16 version.`
The error not happen when I use Node 14 version

[code]
More info about package.json

[code]

[2022-06-28 08:44] p001389 commented on #75
So sorry, having some mistake in my `package.lock.json`
Now I can run wdio-video-reporter with node 16.
So I closed this issue.

[2022-06-28 08:44] #75 closed

[2022-07-07 10:13] christian-bromann commented on #74
__Update:__ my initial assumption that CJS services/reporters would stop working when running WebdriverIO within ESM context is wrong. They continue to work as is without any changes required. However I still suggest to do this ESM transition eventually as dependencies might migrate to ESM and stop working. Given WebdriverIO dynamically imports services and plugins there is no need to build a hybr

[2022-07-22 04:47] mikesalvia commented on #60
Thanks I will look into this.

[2022-08-03 20:56] l1nk001 opened #76 "Add a parameter to remove excess console messages"
**Is your feature request related to a problem? Please describe.**
When I run more than 200 tests, I can't see my post scripts due to the output of video reporter : those 2 lines :
[code]
**Describe the solution you'd like**
add a parameter to the wdio conf video reporter, that disables the this.write...

**Describe alternatives you've considered**
I forked the repo and temp fixed it but it interf

[2022-08-03 21:04] christian-bromann commented on #76
Sounds like a reasonable feature request. Any contributions are welcome!

[2022-08-03 23:13] kerkeniakov commented on #76
https://github.com/webdriverio-community/wdio-video-reporter/pull/77

[2022-08-04 06:46] christian-bromann commented on #76
Merged and released

[2022-08-04 06:46] #76 closed

[2022-08-09 21:42] christian-bromann opened #79 "Don't make screenshots if an alert is open"
see [#8351](https://github.com/webdriverio/webdriverio/issues/8351)

[2022-08-11 01:17] ignusloki opened #80 "Help Wanted: Video.onRunnerStart is failing for a specific wdio.conf"
Hi!
I have a project with wdio-video-reporter which i'm getting this error:

- error: [error.log](https://github.com/webdriverio-community/wdio-video-reporter/files/9305357/error.log)
- wdio.conf.js: [wdio.conf.js.txt](https://github.com/webdriverio-community/wdio-video-reporter/files/9305359/wdio.conf.js.txt)

Am I setting any configuration in wdio.conf which is causing this problem?
Because I ha

[2022-08-11 06:38] kerkeniakov commented on #80
Hi ,
First I see this warning :
`This version of ChromeDriver has not been tested with Chrome version 104. ,`
Then we see this :
` at Video.onRunnerStart (/Users/suporte/repo/rally/app/node_modules/wdio-video-reporter/src/index.js:83:31)`
which contains the following code :
![image](https://user-images.githubusercontent.com/28395932/184077118-fbd7a2c0-5845-4dfa-8d60-3e19ca70adeb.png)
Can you share

[2022-08-12 03:05] ignusloki commented on #80
Hi @kerkeniakov, thanks for the help!
Here is the version for the chrome.
![Captura de Tela 2022-08-11 às 19 57 45](https://user-images.githubusercontent.com/5742164/184277376-d9a68a3c-2074-4224-9200-33a41230d9f8.png)
Here are the error logs for each version, except 105 which is in beta.

- 103:[errorChromeDriver103.log](https://github.com/webdriverio-community/wdio-video-reporter/files/9313409/e

[2022-09-21 20:49] chrisplim opened #82 "browser.getMetrics is not a function when using wdio-video-reporter alongside devtools"
Description
---
browser.getMetrics is not a function when using wdio-video-reporter alongside devtools

Reproduction Steps
---
https://github.com/chrisplim/wdio-video-reporter-bug
1. Setup, and run the example test. To see the test pass
[code]
2.  Uncomment the code in wdio.conf.js between the UNCOMMENT_ME blocks and run the test again to see the error message.
[code]

**Expected behavior**
---
I